<div class="contents row">
  <%= form_tag "/shops/#{@shop.id}", method: :patch do %>
    <h3>POST</h3>
    <input type="text" name="image" value="<%=@shop.image%>">
    <input type="text" name="shop_name" value="<%=@shop.shop_name%>">
    <textarea name="text" placeholder="<%=@shop.text%>" rows="10" cols="30"><%=@shop.text%></textarea>
    
    <input name="smoking_ban" type="hidden" value="false">
    No smoking<input type="checkbox" name="smoking_ban" value="true">
    
    <input name="wifi" type="hidden" value="false">
    Wi-fi<input type="checkbox" name="wifi" value="true">
    
    <input name="withdog" type="hidden" value="false">
    With your dog<input type="checkbox" name="withdog" value="true">
    
    <input type="submit" value="SENT">
  <% end %>
</div>